<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>885560086112-ua1gbc9kevfkfn527t0u6jv4s83e8521.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.885560086112-ua1gbc9kevfkfn527t0u6jv4s83e8521</string>
	<key>API_KEY</key>
	<string>AIzaSyDQ3SeqNkWJdP7yyNDhx293F0RmwmziKZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>885560086112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sevy.controller</string>
	<key>PROJECT_ID</key>
	<string>sevy-controller</string>
	<key>STORAGE_BUCKET</key>
	<string>sevy-controller.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885560086112:ios:10b07a924ab90eda5cfd05</string>
</dict>
</plist>